<div class = 'username_header'>
<h1><%=current_user.username%></h1>
</div>
<%if !current_user.albums.empty?%>
    <%=render partial:'albums/alb', locals: {show_albums: @albums}%>
<%else%>
    <div class = 'create_new_button'>
        <%= link_to "No Albums Yet. Create One.", new_album_path%>
    </div>
<%end%>
</div>
