<h1><%=@user.username%></h1>
<%if !@user.albums.nil?%>
    <%=render partial:'albums/alb', locals: {show_albums: @albums}%>
<%else%>
    <%=  link_to "No Albums Yet. Create One.", new_album_path%>
<%end%>
