<div class = 'display_img'>
    <%=image_tag("#{@space_obj.picture_src}")%>
    <br>
    <div class = 'display_text'>
        <h2>
        <%=@space_obj.name%>
        </h2>
    </div>
    <ul class = 'album_info'>
        <li>Size:<%=@space_obj.size%></li>
        <li><%=@space_obj.bio%></li>
    </ul>
</div>