<div class = 'display_img'>
    <%=image_tag("#{@planet.picture_src}")%>
    <br>
    <div class = 'display_text'>
        <h2>
        <%=@planet.name%>
        </h2>
    </div>
    <ul class = 'album_info'>
        <li>Size:<%=@planet.size%></li>
        <li><%=@planet.bio%></li>
    </ul>
</div>