<% show_albums.each do |image|%>
    <div class = 'images_desc'>
    <h2>
        <%=image_tag("#{image.href}")%>
        <div class ='desc'>
        <%=link_to image.title, album_path(image)%>
        </div>
    </h2>
    </div>
<%end%>