<div class='img_row'>
<% show_albums.each do |image|%>
    <div class = 'img_col'>
    <h2>
        <%=image_tag("#{image.href}")%>
        <br>
        <div class = 'img_txt'>
        <%=link_to image.title, album_path(image)%>
        </div>
    </h2>
    </div>
<%end%>
</div>