<div class ='username_header'>
<h1>Explore</h1>
</div>
<%= form_for :filter, :method => 'get', url: albums_path do |f| %>
    <%= f.select(:option, @filters.map {|value| [value, value]}, include_blank: true) %>
    <%= f.submit "Filter" %>
<% end %>
<%= render partial:"alb", locals: {show_albums: @albums}%>
    

