<div class ='username_header'>
<h1>Explore</h1>
</div>
<%= form_for :filter, ({:controller => "albums", :action => "index"}, method: "get") do %>
    <%= select_tag :filter, options_from_collection_for_select(@filter.map {|value| [value, value]}), include_blank: true %>
    <%= submit_tag "Filter" %>
<% end %>
<%= render partial:"alb", locals: {show_albums: @albums}%>
    

