<div class = 'display_img'>
    <%=image_tag("#{@galaxy.picture_src}")%>
    <br>
    <div class = 'display_text'>
        <h2>
        <%=@galaxy.name%>
        </h2>
    </div>
    <ul class = 'album_info'>
        <li>Size:<%=@galaxy.size%></li>
        <li><%=@galaxy.bio%></li>
    </ul>
</div>